.menuContainer
  display: flex
  flex-direction: column
  gap: 5px
  button
    padding: 10px
    border: 0
    background: none
    border-radius: 3px
    &:hover
      background: rgba(211, 211, 211, 0.56)

.triggerBtn
  display: flex
  padding: 7px
  border-radius: 5px
  border: none
  &:focus
    outline: 2px solid grey
  svg
    width: 18px
    height: 18px
    transform: rotateY(180deg)
